/* -------------------------*/
/*  LESS Grid
/*  Version: 0.1
/*  Author: Alexandr Bizikov
/*  Author URI: http://bizikov.ru/
/* -------------------------*/

@desktop: 960px; /* Ширина контейнера */

@margin: 20px; /* Отступ */

/* -------------------------*/
/*  MIXIN
/* -------------------------*/
.cell-a-b(@a, @b) {
  width: 100% * @a / @b;
}

/* -------------------------*/
/*  Пользовательская сетка
/* -------------------------*/

.container {
  width: @desktop;
  margin: 0 auto;
  position: relative;
}

.clear {
  clear: both;
  margin-bottom: @margin;
}

.container {
  div[class^='cell-'] {
    float: left;
  }

  .module {
    margin: auto @margin / 2;
    /* Обнуление отступа с левой стороны */
    &.alpha {
      margin-left: 0;
    }

    /* Обнуление отступа с правой стороны */
    &.beta {
      margin-right: 0;
    }
  }
}

.cell-1-1 {.cell-a-b(1, 1)}
.cell-1-2 {.cell-a-b(1, 2)}
.cell-1-3 {.cell-a-b(1, 3)}
.cell-1-4 {.cell-a-b(1, 4)}
.cell-2-3 {.cell-a-b(2, 3)}
.cell-3-4 {.cell-a-b(3, 4)}
